* {
  /* eslint-disable-next-line css/use-baseline */
  scrollbar-width: thin;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

button {
  padding: 1px 3px;
}

header {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  display: flex;
  padding: 8px;
  color: #666;
  justify-content: space-between;
}
